<%= form_for @question, url: "/questions" , html: { method: :post } do |f| %>
  <h1>新規投稿</h1>
  <p>【質問】</p><p><%= f.text_area :title %></p>
  <p>【詳細】</p><p><%= f.text_area :detail, rows: 10 %></p>
  <button type="button" class="btn btn-primary btn-sm">送信</button>
<% end %>

<div id="container">
  <section id="questions">
    <div class="container">
      <% @questions.each do |question| %>
        <div class="questions-container">
          <a href="/questions/<%= question[:id] %>">
            <div class="question">
              <div class="row">
                <div class="col-md-7">
                  <div class="title-container">
                    <p class="title"><%= question.title.truncate(40) %></p>
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="info">
                    <p>質問日　<%= l question.updated_at, format: :default %></p>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      <% end %>
    </div>
  </section>
</div>
